

.highlight {
    background-color: yellow;
}

#userContent {
    font-size: large;
    text-align: left;
    top: 0;
}

#name {
    
}

#name:hover {
    border-bottom: 1px solid;
    cursor: pointer;
}

#nameInput {
    
}

#prayOption {
    border-bottom: 1px solid;
}

.calendar-day {
    cursor: pointer;
}

.calendar-day.sunday {
    color: #FF4D4D; /* 일요일 셀에 대한 스타일 */
}

.calendar-day.saturday {
    color: #4D4DFF; /* 토요일 셀에 대한 스타일 */
}

.calendar-day.next-month {
    color: #A9A9A9; /* 다음달 셀에 대한 스타일 */
    cursor: default;
}

.calendar-day.last-month {
    color: #A9A9A9; /* 이전달 셀에 대한 스타일 */
    cursor: default;
}