

.highlight {
    background-color: yellow;
}

#userContent {
    font-size: large;
    text-align: left;
    top: 0;
}

#name {
    
}

#name:hover {
    border-bottom: 1px solid;
    cursor: pointer;
}

#nameInput {
    
}

#prayOption {
    border-bottom: 1px solid;
}

.calendar-day {
    cursor: pointer;
}

.calendar-day.sunday {
    color: #FF4D4D; /* 일요일 셀에 대한 스타일 */
}

.calendar-day.saturday {
    color: #4D4DFF; /* 토요일 셀에 대한 스타일 */
}

.calendar-day.next-month {
    color: #A9A9A9; /* 다음달 셀에 대한 스타일 */
    cursor: default;
}

.calendar-day.last-month {
    color: #A9A9A9; /* 이전달 셀에 대한 스타일 */
    cursor: default;
}

.skeleton {
    background-color: #e0e0e0;
    border-radius: 4px;
    margin: 8px 0;
}

.skeleton-text {
    height: 20px;
    width: 80%;
    margin: 10px auto;
}

@keyframes loading {
    0% {
        background-color: #e0e0e0;
    }
    50% {
        background-color: #c0c0c0;
    }
    100% {
        background-color: #e0e0e0;
    }
}

.skeleton {
    animation: loading 1.5s infinite;
}